<ul>
  <% comments_by_parent_id[parent_comment.id].each do |comment| %>
    <li>
      <%= comment.content %> -
      <%= link_to comment.author.username, user_url(comment.author) %>
      <%= button_to '+', upvote_comment_url(comment), method: :post %>
      <%= button_to '-', downvote_comment_url(comment), method: :post %>
      <%= link_to "Reply", comment_url(comment, parent_comment_id: comment.id, post_id: post.id) %>
      <%= render 'comments/comment', comments_by_parent_id: comments_by_parent_id, parent_comment: comment, post: post %>
    </li>
    <% end %>
  </ul>
