<h1><%= @sub.title %></h1>
<h3><%= @sub.description %> created by: <%= link_to @sub.moderator.username, user_url(@sub.moderator) %></h3>
<ul>
  <% @sub.posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %></li>
  <% end %>
</ul>
<br>
<%= button_to "Create a new post", new_sub_post_url(@sub), method: :get %>
