<form action="<%= action_url %>" method="post">
  <% unless action_url == posts_url %>
  <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= csrf_token %>
  <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] || post.sub_id %>">
  <label>Title
    <input type="text" name="post[title]" value="<%= post.title %>">
  </label>
  <br>
  <label>Body
    <input type="text" name="post[content]" value="<%= post.content %>">
  </label>
  <br>
  <label>URL
    <input type="text" name="post[url]" value="<%= post.url %>">
  </label>
  <br>
  <input type="submit" name="Submit">
</form>
